<article data-role="page" id="external-output-view" data-theme="a">
    <div id="toast" data-role="none"></div>
    <div id="screen-container" data-role="none">
        <header id="screen-header" data-role="none">
            <div id="operation" data-role="none">
                <div id="screenshot-button" class="btn" tabindex="1" data-role="none">
                    <img id="screenshot-icon" src="../res/image/svg/Asset_Altair_ExternalOutput_Screenshot_Rest.svg" onmouseover="this.src = '../res/image/svg/Asset_Altair_ExternalOutput_Screenshot_Hover.svg'" onmouseout="this.src = '../res/image/svg/Asset_Altair_ExternalOutput_Screenshot_Rest.svg'" onmousedown="this.src = '../res/image/svg/Asset_Altair_ExternalOutput_Screenshot_Pressed.svg'" data-role="none" />
                    <label id="screenshot-label" class="btn-lbl" data-i18n="func.dp.screenshot" />
                </div>
                <div id="fullscreen-button" class="btn" tabindex="99" data-role="none">
                    <img id="fullscreen-icon" src="../res/image/svg/Asset_Altair_ExternalOutput_FullScreen_Rest.svg" onmouseover="this.src = '../res/image/svg/Asset_Altair_ExternalOutput_FullScreen_Hover.svg'" onmouseout="this.src = '../res/image/svg/Asset_Altair_ExternalOutput_FullScreen_Rest.svg'" onmousedown="this.src = '../res/image/svg/Asset_Altair_ExternalOutput_FullScreen_Pressed.svg'" data-role="none"/>
                    <label id="fullscreen-label" class="btn-lbl" data-i18n="func.dp.fullScreen" />
                </div>
            </div>
        </header>
        <article id="screen-article" data-role="none">
            <div id="debug-board" data-role="none"></div>
            <div id="error-board" data-role="none"></div>
            <img id="screen" data-role="none">
        </article>
    </div>
</article>
