<section>
    <script type="lazy" src="scripts/View/Explorer/Handler/DragExternalServer.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/DragAndDropHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/ClipboardHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/DeviceHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/SubWindowHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/FetchHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/FileManageHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/FsPromise.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/FileTransferDefs.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/FileTransferUtils.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/FileTransferHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/TransferCounter.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/TransferProgressHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/LocalFileStampHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/SyncTransferHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/SyncFolderPairHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/SyncHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/SoftwareUpdateHandler.js"></script>
    <script type="lazy" src="scripts/View/Explorer/Handler/SoftwareUpdateUtils.js"></script>
</section>
